[Desktop Entry]
Type=Application
Exec=/home/{{ username }}/bin/display_scale.sh
Hidden=false
NoDisplay=false
X-GNOME-Autostart-enabled=true
Name[en_US]=Display Scaling
Name=Display Scaling
Comment[en_US]=Fractional display scaling fix
Comment=Fractional display scaling fix
